In [2]:
import pandas as pd
import numpy as np

In [31]:
flight = pd.read_csv(r'df14final.csv')
weather = pd.read_csv(r'2014_df.csv')

In [32]:
flight

,ARR_DEL15,ARR_DELAY_NEW,DAY_OF_MONTH,DAY_OF_WEEK,DEP_DEL15,DEP_DELAY_NEW,DEST,DEST_AIRPORT_ID,DEST_CITY_NAME,DEST_STATE_ABR,...,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,YEAR,ARR_TIME_y,CRS_ARR_TIME_y,DEP_TIME_y,CRS_DEP_TIME_y,ARR_DateTime,DEP_DateTime,target
0,1.0,16.0,2.0,2.0,1.0,28.0,DFW,11298.0,"Dallas/Fort Worth, TX",TX,...,"Denver, CO",CO,2014.0,0 days 15:11:00.000000000,0 days 14:55:00.000000000,0 days 12:28:00.000000000,0 days 12:00:00.000000000,2014-12-02 15:11:00,2014-12-02 12:28:00,1
1,1.0,44.0,3.0,3.0,1.0,41.0,DFW,11298.0,"Dallas/Fort Worth, TX",TX,...,"Denver, CO",CO,2014.0,0 days 15:39:00.000000000,0 days 14:55:00.000000000,0 days 12:41:00.000000000,0 days 12:00:00.000000000,2014-12-03 15:39:00,2014-12-03 12:41:00,1
2,0.0,0.0,4.0,4.0,0.0,0.0,DFW,11298.0,"Dallas/Fort Worth, TX",TX,...,"Denver, CO",CO,2014.0,0 days 14:49:00.000000000,0 days 14:55:00.000000000,0 days 11:58:00.000000000,0 days 12:00:00.000000000,2014-12-04 14:49:00,2014-12-04 11:58:00,0
3,0.0,0.0,5.0,5.0,0.0,0.0,DFW,11298.0,"Dallas/Fort Worth, TX",TX,...,"Denver, CO",CO,2014.0,0 days 14:45:00.000000000,0 days 14:55:00.000000000,0 days 12:00:00.000000000,0 days 12:00:00.000000000,2014-12-05 14:45:00,2014-12-05 12:00:00,0
4,0.0,0.0,6.0,6.0,0.0,0.0,DFW,11298.0,"Dallas/Fort Worth, TX",TX,...,"Denver, CO",CO,2014.0,0 days 14:39:00.000000000,0 days 14:55:00.000000000,0 days 11:52:00.000000000,0 days 12:00:00.000000000,2014-12-06 14:39:00,2014-12-06 11:52:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93849,0.0,0.0,15.0,3.0,0.0,0.0,DEN,11292.0,"Denver, CO",CO,...,"Atlanta, GA",GA,2014.0,0 days 07:52:00.000000000,0 days 08:10:00.000000000,0 days 06:40:00.000000000,0 days 06:45:00.000000000,2014-01-15 07:52:00,2014-01-15 06:40:00,0
93850,1.0,169.0,16.0,4.0,1.0,164.0,DEN,11292.0,"Denver, CO",CO,...,"Atlanta, GA",GA,2014.0,0 days 16:09:00.000000000,0 days 13:20:00.000000000,0 days 14:39:00.000000000,0 days 11:55:00.000000000,2014-01-16 16:09:00,2014-01-16 14:39:00,1
93851,1.0,17.0,16.0,4.0,0.0,0.0,DEN,11292.0,"Denver, CO",CO,...,"Atlanta, GA",GA,2014.0,0 days 08:27:00.000000000,0 days 08:10:00.000000000,0 days 06:41:00.000000000,0 days 06:45:00.000000000,2014-01-16 08:27:00,2014-01-16 06:41:00,1
93852,1.0,33.0,31.0,5.0,1.0,30.0,DEN,11292.0,"Denver, CO",CO,...,"Atlanta, GA",GA,2014.0,0 days 13:53:00.000000000,0 days 13:20:00.000000000,0 days 12:25:00.000000000,0 days 11:55:00.000000000,2014-01-31 13:53:00,2014-01-31 12:25:00,1
93853,1.0,52.0,31.0,5.0,1.0,39.0,DEN,11292.0,"Denver, CO",CO,...,"Atlanta, GA",GA,2014.0,0 days 09:02:00.000000000,0 days 08:10:00.000000000,0 days 07:24:00.000000000,0 days 06:45:00.000000000,2014-01-31 09:02:00,2014-01-31 07:24:00,1

In [33]:
weather.head()

,Unnamed: 0,windspeedKmph,FeelsLikeF,winddir16Point,FeelsLikeC,DewPointC,windspeedMiles,DewPointF,HeatIndexF,cloudcover,...,tempC,tempF,WindChillF,WindChillC,winddirDegree,humidity,time_x,date,time_y,end_Time
0,0,4,37,S,3,-4,2,24,38,33,...,3,38,37,3,175,58,0,2014-01-01,0 days 00:00:00.000000000,2014-01-01 00:00:00
1,1,4,36,SE,2,-5,3,24,37,34,...,3,37,36,2,142,57,100,2014-01-01,0 days 01:00:00.000000000,2014-01-01 01:00:00
2,2,5,35,ESE,2,-5,3,23,37,35,...,3,37,35,2,109,56,200,2014-01-01,0 days 02:00:00.000000000,2014-01-01 02:00:00
3,3,5,34,ENE,1,-6,3,22,37,36,...,3,37,34,1,77,55,300,2014-01-01,0 days 03:00:00.000000000,2014-01-01 03:00:00
4,4,5,34,E,1,-6,3,22,37,37,...,3,37,34,1,99,55,400,2014-01-01,0 days 04:00:00.000000000,2014-01-01 04:00:00

In [34]:
flight['DEP_DateTime2'] = pd.to_datetime(flight['DEP_DateTime'], errors='coerce')
flight['DEP_DateTime2'] = flight['DEP_DateTime2'].dt.round('H').dt.hour

In [35]:
flight['DEP_DateTime2']

0        12
1        13
2        12
3        12
4        12
         ..
93849     7
93850    15
93851     7
93852    12
93853     7
Name: DEP_DateTime2, Length: 93854, dtype: int64

In [36]:
flight['DEP_DateTime2'] = pd.to_datetime(flight['DEP_DateTime2'], format='%H').dt.time

In [37]:
flight['FL_DATE']

0        2014-12-02 00:00:00
1        2014-12-03 00:00:00
2        2014-12-04 00:00:00
3        2014-12-05 00:00:00
4        2014-12-06 00:00:00
                ...
93849    2014-01-15 00:00:00
93850    2014-01-16 00:00:00
93851    2014-01-16 00:00:00
93852    2014-01-31 00:00:00
93853    2014-01-31 00:00:00
Name: FL_DATE, Length: 93854, dtype: object

In [38]:
flight['DEP_DateTime2']

0        12:00:00
1        13:00:00
2        12:00:00
3        12:00:00
4        12:00:00
           ...
93849    07:00:00
93850    15:00:00
93851    07:00:00
93852    12:00:00
93853    07:00:00
Name: DEP_DateTime2, Length: 93854, dtype: object

In [39]:
flight['DEP_datetime3'] = pd.to_datetime(flight['FL_DATE'].apply(str)+' '+flight['DEP_DateTime2'].apply(str))

In [46]:
weather2['DEP_datetime3'] = pd.to_datetime(weather2['DEP_datetime3'])

In [161]:
 weather.rename(columns={"end_Time": "DEP_datetime3"},inplace = True)

In [16]:
flight['DEP_datetime3']

0       2014-12-02 12:00:00
1       2014-12-03 13:00:00
2       2014-12-04 12:00:00
3       2014-12-05 12:00:00
4       2014-12-06 12:00:00
                ...
93849   2014-01-15 07:00:00
93850   2014-01-16 15:00:00
93851   2014-01-16 07:00:00
93852   2014-01-31 12:00:00
93853   2014-01-31 07:00:00
Name: DEP_datetime3, Length: 93854, dtype: datetime64[ns]

In [48]:
finalmerge14=pd.merge(flight, weather2, on='DEP_datetime3', how = 'left')

In [175]:
len(finalmerge14.columns)

54

In [176]:
finalmerge14.to_csv("finalmerge14.csv")

In [44]:
weather2 = weather.rename({'end_Time':'DEP_datetime3'},axis=1)

In [76]:
weather2

,Unnamed: 0,windspeedKmph,FeelsLikeF,winddir16Point,FeelsLikeC,DewPointC,windspeedMiles,DewPointF,HeatIndexF,cloudcover,...,tempC,tempF,WindChillF,WindChillC,winddirDegree,humidity,time_x,date,time_y,DEP_datetime3
0,0,4,37,S,3,-4,2,24,38,33,...,3,38,37,3,175,58,0,2014-01-01,0 days 00:00:00.000000000,2014-01-01 00:00:00
1,1,4,36,SE,2,-5,3,24,37,34,...,3,37,36,2,142,57,100,2014-01-01,0 days 01:00:00.000000000,2014-01-01 01:00:00
2,2,5,35,ESE,2,-5,3,23,37,35,...,3,37,35,2,109,56,200,2014-01-01,0 days 02:00:00.000000000,2014-01-01 02:00:00
3,3,5,34,ENE,1,-6,3,22,37,36,...,3,37,34,1,77,55,300,2014-01-01,0 days 03:00:00.000000000,2014-01-01 03:00:00
4,4,5,34,E,1,-6,3,22,37,37,...,3,37,34,1,99,55,400,2014-01-01,0 days 04:00:00.000000000,2014-01-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44539,44539,13,33,NNE,1,-6,8,21,39,49,...,4,39,33,1,19,49,1900,2014-12-31,0 days 19:00:00.000000000,2014-12-31 19:00:00
44540,44540,12,32,NNE,0,-6,8,21,38,52,...,3,38,32,0,23,49,2000,2014-12-31,0 days 20:00:00.000000000,2014-12-31 20:00:00
44541,44541,12,31,NNE,-1,-7,7,20,37,54,...,3,37,31,-1,27,50,2100,2014-12-31,0 days 21:00:00.000000000,2014-12-31 21:00:00
44542,44542,11,31,NNE,-1,-7,7,20,36,61,...,2,36,31,-1,28,51,2200,2014-12-31,0 days 22:00:00.000000000,2014-12-31 22:00:00
44543,44543,10,31,NNE,-1,-7,6,20,36,69,...,2,36,31,-1,29,52,2300,2014-12-31,0 days 23:00:00.000000000,2014-12-31 23:00:00

In [53]:
finalmerge14['ARR_DateTime']

0         2014-12-02 15:11:00
1         2014-12-02 15:11:00
2         2014-12-02 15:11:00
3         2014-12-02 15:11:00
4         2014-12-02 15:11:00
                 ...
477260    2014-01-31 09:02:00
477261    2014-01-31 09:02:00
477262    2014-01-31 09:02:00
477263    2014-01-31 09:02:00
477264    2014-01-31 09:02:00
Name: ARR_DateTime, Length: 477265, dtype: object

In [54]:
finalmerge14['ARR_DateTime'] = pd.to_datetime(finalmerge14['ARR_DateTime'], format='%H').dt.time

ValueError: unconverted data remains: 14-12-02 15:11:00

In [65]:
finalmerge14['ARR_DateTime2'] = pd.to_datetime(finalmerge14['ARR_DateTime'], errors='coerce')
finalmerge14['ARR_DateTime4'] = finalmerge14['ARR_DateTime2'].dt.round('H').dt.hour

In [66]:
finalmerge14['ARR_DateTime3'] = finalmerge14['ARR_DateTime2'].dt.round('H').dt.date

In [72]:
finalmerge14['final_arr'] = pd.to_datetime(finalmerge14['ARR_DateTime3'].apply(str)+' '+finalmerge14['ARR_DateTime4'].apply(str))

In [71]:
finalmerge14['ARR_DateTime4']

0         15:00:00
1         15:00:00
2         15:00:00
3         15:00:00
4         15:00:00
            ...
477260    09:00:00
477261    09:00:00
477262    09:00:00
477263    09:00:00
477264    09:00:00
Name: ARR_DateTime4, Length: 477265, dtype: object

In [70]:
finalmerge14['ARR_DateTime4'] = pd.to_datetime(finalmerge14['ARR_DateTime4'], format='%H').dt.time

In [89]:
weather['end_Time'] = pd.to_datetime(weather['end_Time'])

In [87]:
final2 = finalmerge14.rename({'final_arr':'end_Time'},axis=1)

In [90]:
cc=pd.merge(final2, weather, on='end_Time', how = 'left')

In [86]:
weather

,Unnamed: 0,windspeedKmph,FeelsLikeF,winddir16Point,FeelsLikeC,DewPointC,windspeedMiles,DewPointF,HeatIndexF,cloudcover,...,tempC,tempF,WindChillF,WindChillC,winddirDegree,humidity,time_x,date,time_y,end_Time
0,0,4,37,S,3,-4,2,24,38,33,...,3,38,37,3,175,58,0,2014-01-01,0 days 00:00:00.000000000,2014-01-01 00:00:00
1,1,4,36,SE,2,-5,3,24,37,34,...,3,37,36,2,142,57,100,2014-01-01,0 days 01:00:00.000000000,2014-01-01 01:00:00
2,2,5,35,ESE,2,-5,3,23,37,35,...,3,37,35,2,109,56,200,2014-01-01,0 days 02:00:00.000000000,2014-01-01 02:00:00
3,3,5,34,ENE,1,-6,3,22,37,36,...,3,37,34,1,77,55,300,2014-01-01,0 days 03:00:00.000000000,2014-01-01 03:00:00
4,4,5,34,E,1,-6,3,22,37,37,...,3,37,34,1,99,55,400,2014-01-01,0 days 04:00:00.000000000,2014-01-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44539,44539,13,33,NNE,1,-6,8,21,39,49,...,4,39,33,1,19,49,1900,2014-12-31,0 days 19:00:00.000000000,2014-12-31 19:00:00
44540,44540,12,32,NNE,0,-6,8,21,38,52,...,3,38,32,0,23,49,2000,2014-12-31,0 days 20:00:00.000000000,2014-12-31 20:00:00
44541,44541,12,31,NNE,-1,-7,7,20,37,54,...,3,37,31,-1,27,50,2100,2014-12-31,0 days 21:00:00.000000000,2014-12-31 21:00:00
44542,44542,11,31,NNE,-1,-7,7,20,36,61,...,2,36,31,-1,28,51,2200,2014-12-31,0 days 22:00:00.000000000,2014-12-31 22:00:00
44543,44543,10,31,NNE,-1,-7,6,20,36,69,...,2,36,31,-1,29,52,2300,2014-12-31,0 days 23:00:00.000000000,2014-12-31 23:00:00

In [94]:
cc.to_csv('fff.csv')

In [104]:
cc['ARR_TIME_y']

0          0 days 15:11:00.000000000
1          0 days 15:11:00.000000000
2          0 days 15:11:00.000000000
3          0 days 15:11:00.000000000
4          0 days 15:11:00.000000000
                     ...
2434200    0 days 09:02:00.000000000
2434201    0 days 09:02:00.000000000
2434202    0 days 09:02:00.000000000
2434203    0 days 09:02:00.000000000
2434204    0 days 09:02:00.000000000
Name: ARR_TIME_y, Length: 2434205, dtype: object

In [38]:
dd =dd.drop(['ARR_DateTime4','ARR_DateTime3','ARR_DateTime2'],axis=1)

In [113]:
cc['end_Time']

0         2014-12-02 15:00:00
1         2014-12-02 15:00:00
2         2014-12-02 15:00:00
3         2014-12-02 15:00:00
4         2014-12-02 15:00:00
                  ...
2434200   2014-01-31 09:00:00
2434201   2014-01-31 09:00:00
2434202   2014-01-31 09:00:00
2434203   2014-01-31 09:00:00
2434204   2014-01-31 09:00:00
Name: end_Time, Length: 2434205, dtype: datetime64[ns]

In [3]:
from sklearn.decomposition import PCA
from sklearn import preprocessing
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder

In [34]:
from sklearn.preprocessing import LabelEncoder

#Auto encodes any dataframe column of type category or object.
def dummyEncode(finalmerge14):
        columnsToEncode = list(finalmerge14.select_dtypes(include=['category','object']))
        le = LabelEncoder()
        for feature in columnsToEncode:
            try:
                finalmerge14[feature] = le.fit_transform(finalmerge14[feature])
            except:
                print('Error encoding '+feature)
        return finalmerge14

In [35]:
finalmerge14_ = dummyEncode(dd)

Error encoding winddir16Point_y
Error encoding weatherIconUrl_y
Error encoding weatherDesc_y
Error encoding date_y
Error encoding time_y_y

In [ ]:
scaled_data = preprocessing.scale(finalmerge14_.T)

In [15]:
import pandas as pd
dd = pd.read_csv('fff.csv')

In [36]:
dd =dd.drop(['winddir16Point_y','weatherIconUrl_y','weatherDesc_y','date_y','time_y_y'],axis=1)

In [ ]:
pca = PCA(0.1)
pca.fit(scaled_data)
scaled_data = pca.transform(scaled_data)

In [11]:
cc.isnull()

,Unnamed: 0,ARR_DEL15,ARR_DELAY_NEW,DAY_OF_MONTH,DAY_OF_WEEK,DEP_DEL15,DEP_DELAY_NEW,DEST,DEST_AIRPORT_ID,DEST_CITY_NAME,...,WindGustKmph_y,visibility_y,weatherCode_y,tempC_y,tempF_y,WindChillF_y,WindChillC_y,winddirDegree_y,humidity_y,time_x_y
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2434200,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2434201,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2434202,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2434203,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2434204,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [13]:
import numpy as np
np.any(np.isnan(cc))

True

In [14]:
np.all(np.isfinite(cc))

False

In [16]:
dd

,Unnamed: 0,ARR_DEL15,ARR_DELAY_NEW,DAY_OF_MONTH,DAY_OF_WEEK,DEP_DEL15,DEP_DELAY_NEW,DEST,DEST_AIRPORT_ID,DEST_CITY_NAME,...,weatherCode_y,tempC_y,tempF_y,WindChillF_y,WindChillC_y,winddirDegree_y,humidity_y,time_x_y,date_y,time_y_y
0,0,1.0,16.0,2.0,2.0,1.0,28.0,DFW,11298.0,"Dallas/Fort Worth, TX",...,263.0,13.0,55.0,52.0,11.0,63.0,85.0,1500.0,2014-12-02,0 days 15:00:00.000000000
1,1,1.0,16.0,2.0,2.0,1.0,28.0,DFW,11298.0,"Dallas/Fort Worth, TX",...,119.0,13.0,55.0,55.0,13.0,131.0,22.0,1500.0,2014-12-02,0 days 15:00:00.000000000
2,2,1.0,16.0,2.0,2.0,1.0,28.0,DFW,11298.0,"Dallas/Fort Worth, TX",...,176.0,5.0,42.0,35.0,2.0,77.0,70.0,1500.0,2014-12-02 00:00:00,0 days 15:00:00.000000000
3,3,1.0,16.0,2.0,2.0,1.0,28.0,DFW,11298.0,"Dallas/Fort Worth, TX",...,113.0,22.0,71.0,71.0,22.0,151.0,62.0,1500.0,2014-12-02,0 days 15:00:00.000000000
4,4,1.0,16.0,2.0,2.0,1.0,28.0,DFW,11298.0,"Dallas/Fort Worth, TX",...,176.0,5.0,42.0,35.0,2.0,77.0,70.0,1500.0,2014-12-02,0 days 15:00:00.000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2434200,2434200,1.0,52.0,31.0,5.0,1.0,39.0,DEN,11292.0,"Denver, CO",...,113.0,-5.0,24.0,18.0,-8.0,266.0,86.0,900.0,2014-01-31,0 days 09:00:00.000000000
2434201,2434201,1.0,52.0,31.0,5.0,1.0,39.0,DEN,11292.0,"Denver, CO",...,332.0,-6.0,21.0,15.0,-10.0,111.0,96.0,900.0,2014-01-31,0 days 09:00:00.000000000
2434202,2434202,1.0,52.0,31.0,5.0,1.0,39.0,DEN,11292.0,"Denver, CO",...,119.0,-5.0,23.0,12.0,-11.0,249.0,87.0,900.0,2014-01-31 00:00:00,0 days 09:00:00.000000000
2434203,2434203,1.0,52.0,31.0,5.0,1.0,39.0,DEN,11292.0,"Denver, CO",...,113.0,-3.0,27.0,27.0,-3.0,290.0,85.0,900.0,2014-01-31,0 days 09:00:00.000000000
2434204,2434204,1.0,52.0,31.0,5.0,1.0,39.0,DEN,11292.0,"Denver, CO",...,119.0,-5.0,23.0,12.0,-11.0,249.0,87.0,900.0,2014-01-31,0 days 09:00:00.000000000

In [19]:
print(cc[cc.isnull().any(axis=1)][null_columns].head())

      ARR_DEL15  ARR_DELAY_NEW  Unnamed: 0_y  windspeedKmph_y  FeelsLikeF_y  \
6120        NaN            NaN        8545.0             13.0          34.0
6121        NaN            NaN       17305.0             20.0          18.0
6122        NaN            NaN       26065.0             14.0          35.0
6123        NaN            NaN       34825.0             21.0          39.0
6124        NaN            NaN       43585.0             14.0          35.0

      FeelsLikeC_y  DewPointC_y  windspeedMiles_y  DewPointF_y  HeatIndexF_y  \
6120           1.0          3.0               8.0         38.0          40.0
6121          -8.0         -9.0              13.0         16.0          28.0
6122           2.0          6.0               9.0         43.0          41.0
6123           4.0          7.0              13.0         44.0          45.0
6124           2.0          6.0               9.0         43.0          41.0

      ...  WindGustKmph_y  visibility_y  weatherCode_y  tempC_y  tempF_y  \
6120  ...            19.0           9.0          176.0      4.0     40.0
6121  ...            35.0          10.0          116.0     -2.0     28.0
6122  ...            24.0           9.0          296.0      3.0     38.0
6123  ...            38.0           6.0          176.0      7.0     45.0
6124  ...            24.0           9.0          296.0      3.0     38.0

      WindChillF_y  WindChillC_y  winddirDegree_y  humidity_y  time_x_y
6120          34.0           1.0             54.0        95.0     100.0
6121          18.0          -8.0            301.0        59.0     100.0
6122          35.0           2.0             81.0        98.0     100.0
6123          39.0           4.0            102.0        96.0     100.0
6124          35.0           2.0             81.0        98.0     100.0

[5 rows x 25 columns]

In [21]:
cc =cc.fillna(0)

In [33]:
len(scaled_data)

79

In [1]:
import pandas as pd

In [2]:
ss = pd.read_csv('fff.csv')

In [3]:
s3 = ss

In [4]:
categorical_feature_mask = s3.dtypes==object
# filter categorical columns using mask and turn it into a list
categorical_cols = s3.columns[categorical_feature_mask].tolist()

In [85]:
ss['ARR_TIME_y'] =ss['ARR_TIME_y'].map(lambda x: x.lstrip('0 days '))

In [86]:
ss['CRS_ARR_TIME_y'] = ss['CRS_ARR_TIME_y'].map(lambda x: x.lstrip('0 days '))

In [80]:
ss['ARR_TIME_y'] = pd.to_datetime(ss['ARR_TIME_y'])

In [135]:
ss['arr']=ss['ARR_TIME_y']

In [136]:
ss['arr']=pd.to_datetime(ss['arr'],errors='coerce')

In [137]:
ss['arr']

0         2019-11-23 15:11:00
1         2019-11-23 15:11:00
2         2019-11-23 15:11:00
3         2019-11-23 15:11:00
4         2019-11-23 15:11:00
                  ...
2434200   2019-11-23 09:02:00
2434201   2019-11-23 09:02:00
2434202   2019-11-23 09:02:00
2434203   2019-11-23 09:02:00
2434204   2019-11-23 09:02:00
Name: arr, Length: 2434205, dtype: datetime64[ns]

In [138]:
ss['crsarr']=ss['CRS_ARR_TIME_y']

In [139]:
ss['crsarr']=pd.to_datetime(ss['crsarr'],errors='coerce')

In [99]:
ss['crsarr'].fillna(0)

0          2019-11-23 14:55:00
1          2019-11-23 14:55:00
2          2019-11-23 14:55:00
3          2019-11-23 14:55:00
4          2019-11-23 14:55:00
                  ...
2434200    2019-11-23 08:10:00
2434201    2019-11-23 08:10:00
2434202    2019-11-23 08:10:00
2434203    2019-11-23 08:10:00
2434204    2019-11-23 08:10:00
Name: crsarr, Length: 2434205, dtype: object

In [140]:
ss['ARR_TIME_y'] = pd.Series([val.time() for val in ss['ARR_TIME_y']])

AttributeError: 'str' object has no attribute 'time'

In [141]:
ss['arr']

0         2019-11-23 15:11:00
1         2019-11-23 15:11:00
2         2019-11-23 15:11:00
3         2019-11-23 15:11:00
4         2019-11-23 15:11:00
                  ...
2434200   2019-11-23 09:02:00
2434201   2019-11-23 09:02:00
2434202   2019-11-23 09:02:00
2434203   2019-11-23 09:02:00
2434204   2019-11-23 09:02:00
Name: arr, Length: 2434205, dtype: datetime64[ns]

In [167]:
ss.loc[ss['arr'] > ss['crsarr'], 'delay'] = ss['arr']-ss['crsarr']
#ss['delay'] =ss['delay'].map(lambda x: x.lstrip('0 days '))
ss.loc[ss['arr'] <= ss['crsarr'], 'delay'] = 0

In [170]:
l=[]
for minutes in ss['delay']:

    minutes=pd.to_timedelta(minutes)

    minutes = minutes.total_seconds() / 60   
    l.append(minutes) 
    
#ss.drop(labels=['delay'],inplace=True,axis=1)

In [172]:
ss.drop(labels=['delay'],inplace=True,axis=1)
ss=ss.assign(delay=l)

In [173]:
ss

,Unnamed: 0,ARR_DEL15,ARR_DELAY_NEW,DAY_OF_MONTH,DAY_OF_WEEK,DEP_DEL15,DEP_DELAY_NEW,DEST,DEST_AIRPORT_ID,DEST_CITY_NAME,...,WindChillC_y,winddirDegree_y,humidity_y,time_x_y,date_y,time_y_y,arr,crsarr,delay1,delay
0,0,1.0,16.0,2.0,2.0,1.0,28.0,DFW,11298.0,"Dallas/Fort Worth, TX",...,11.0,63.0,85.0,1500.0,2014-12-02,0 days 15:00:00.000000000,2019-11-23 15:11:00,2019-11-23 14:55:00,960000000000,16.0
1,1,1.0,16.0,2.0,2.0,1.0,28.0,DFW,11298.0,"Dallas/Fort Worth, TX",...,13.0,131.0,22.0,1500.0,2014-12-02,0 days 15:00:00.000000000,2019-11-23 15:11:00,2019-11-23 14:55:00,960000000000,16.0
2,2,1.0,16.0,2.0,2.0,1.0,28.0,DFW,11298.0,"Dallas/Fort Worth, TX",...,2.0,77.0,70.0,1500.0,2014-12-02 00:00:00,0 days 15:00:00.000000000,2019-11-23 15:11:00,2019-11-23 14:55:00,960000000000,16.0
3,3,1.0,16.0,2.0,2.0,1.0,28.0,DFW,11298.0,"Dallas/Fort Worth, TX",...,22.0,151.0,62.0,1500.0,2014-12-02,0 days 15:00:00.000000000,2019-11-23 15:11:00,2019-11-23 14:55:00,960000000000,16.0
4,4,1.0,16.0,2.0,2.0,1.0,28.0,DFW,11298.0,"Dallas/Fort Worth, TX",...,2.0,77.0,70.0,1500.0,2014-12-02,0 days 15:00:00.000000000,2019-11-23 15:11:00,2019-11-23 14:55:00,960000000000,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2434200,2434200,1.0,52.0,31.0,5.0,1.0,39.0,DEN,11292.0,"Denver, CO",...,-8.0,266.0,86.0,900.0,2014-01-31,0 days 09:00:00.000000000,2019-11-23 09:02:00,2019-11-23 08:10:00,3120000000000,52.0
2434201,2434201,1.0,52.0,31.0,5.0,1.0,39.0,DEN,11292.0,"Denver, CO",...,-10.0,111.0,96.0,900.0,2014-01-31,0 days 09:00:00.000000000,2019-11-23 09:02:00,2019-11-23 08:10:00,3120000000000,52.0
2434202,2434202,1.0,52.0,31.0,5.0,1.0,39.0,DEN,11292.0,"Denver, CO",...,-11.0,249.0,87.0,900.0,2014-01-31 00:00:00,0 days 09:00:00.000000000,2019-11-23 09:02:00,2019-11-23 08:10:00,3120000000000,52.0
2434203,2434203,1.0,52.0,31.0,5.0,1.0,39.0,DEN,11292.0,"Denver, CO",...,-3.0,290.0,85.0,900.0,2014-01-31,0 days 09:00:00.000000000,2019-11-23 09:02:00,2019-11-23 08:10:00,3120000000000,52.0
2434204,2434204,1.0,52.0,31.0,5.0,1.0,39.0,DEN,11292.0,"Denver, CO",...,-11.0,249.0,87.0,900.0,2014-01-31,0 days 09:00:00.000000000,2019-11-23 09:02:00,2019-11-23 08:10:00,3120000000000,52.0

In [147]:
for minutes in ss['delay1']:
    minutes = minutes.total_seconds() / 60   
    l.append(minutes)

AttributeError: 'int' object has no attribute 'total_seconds'

In [149]:
ss['delay1']=ss['delay']
#ss['delay1']= pd.to_datetime(ss['delay1'], unit='m')
l=[]
for minutes in ss['delay1']:
    minutes = minutes / 60   
    l.append(minutes)

In [156]:
ss['delay']

0

In [5]:
from sklearn.preprocessing import LabelEncoder
# instantiate labelencoder object
le = LabelEncoder()

In [6]:
s3['winddir16Point_y'] = s3['winddir16Point_y'].astype(str)

In [7]:
s3['weatherIconUrl_y'] = s3['weatherIconUrl_y'].astype(str)

In [8]:
s3['weatherDesc_y'] = s3['weatherDesc_y'].astype(str)

In [9]:
s3['date_y'] = s3['date_y'].astype(str)

In [10]:
s3['time_y_y'] = s3['time_y_y'].astype(str)

In [11]:
s3[categorical_cols] = s3[categorical_cols].apply(lambda col: le.fit_transform(col))
s3[categorical_cols].head(10)

,DEST,DEST_CITY_NAME,DEST_STATE_ABR,FL_DATE,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ARR_TIME_y,CRS_ARR_TIME_y,DEP_TIME_y,...,time_y_x,ARR_DateTime2,ARR_DateTime3,ARR_DateTime4,end_Time,winddir16Point_y,weatherIconUrl_y,weatherDesc_y,date_y,time_y_y
0,3,2,4,335,2,3,0,842,540,586,...,12,76748,335,15,6888,1,8,31,670,15
1,3,2,4,335,2,3,0,842,540,586,...,12,76748,335,15,6888,9,3,3,670,15
2,3,2,4,335,2,3,0,842,540,586,...,12,76748,335,15,6888,1,8,37,671,15
3,3,2,4,335,2,3,0,842,540,586,...,12,76748,335,15,6888,10,1,40,670,15
4,3,2,4,335,2,3,0,842,540,586,...,12,76748,335,15,6888,1,8,37,670,15
5,3,2,4,335,2,3,0,842,540,586,...,12,76748,335,15,6888,15,2,29,670,15
6,3,2,4,335,2,3,0,842,540,586,...,12,76748,335,15,6888,1,8,31,670,15
7,3,2,4,335,2,3,0,842,540,586,...,12,76748,335,15,6888,9,3,3,670,15
8,3,2,4,335,2,3,0,842,540,586,...,12,76748,335,15,6888,1,8,37,671,15
9,3,2,4,335,2,3,0,842,540,586,...,12,76748,335,15,6888,10,1,40,670,15

In [12]:
s3.columns

Index(['Unnamed: 0', 'ARR_DEL15', 'ARR_DELAY_NEW', 'DAY_OF_MONTH',
       'DAY_OF_WEEK', 'DEP_DEL15', 'DEP_DELAY_NEW', 'DEST', 'DEST_AIRPORT_ID',
       'DEST_CITY_NAME', 'DEST_STATE_ABR', 'FL_DATE', 'MONTH', 'ORIGIN',
       'ORIGIN_AIRPORT_ID', 'ORIGIN_CITY_NAME', 'ORIGIN_STATE_ABR', 'YEAR',
       'ARR_TIME_y', 'CRS_ARR_TIME_y', 'DEP_TIME_y', 'CRS_DEP_TIME_y',
       'ARR_DateTime', 'DEP_DateTime', 'target', 'DEP_DateTime2',
       'DEP_datetime3', 'Unnamed: 0_x', 'windspeedKmph_x', 'FeelsLikeF_x',
       'winddir16Point_x', 'FeelsLikeC_x', 'DewPointC_x', 'windspeedMiles_x',
       'DewPointF_x', 'HeatIndexF_x', 'cloudcover_x', 'HeatIndexC_x',
       'precipMM_x', 'weatherIconUrl_x', 'WindGustMiles_x', 'pressure_x',
       'WindGustKmph_x', 'weatherDesc_x', 'visibility_x', 'weatherCode_x',
       'tempC_x', 'tempF_x', 'WindChillF_x', 'WindChillC_x', 'winddirDegree_x',
       'humidity_x', 'time_x_x', 'date_x', 'time_y_x', 'ARR_DateTime2',
       'ARR_DateTime3', 'ARR_DateTime4', 'end_Time', 'Unnamed: 0_y',
       'windspeedKmph_y', 'FeelsLikeF_y', 'winddir16Point_y', 'FeelsLikeC_y',
       'DewPointC_y', 'windspeedMiles_y', 'DewPointF_y', 'HeatIndexF_y',
       'cloudcover_y', 'HeatIndexC_y', 'precipMM_y', 'weatherIconUrl_y',
       'WindGustMiles_y', 'pressure_y', 'WindGustKmph_y', 'weatherDesc_y',
       'visibility_y', 'weatherCode_y', 'tempC_y', 'tempF_y', 'WindChillF_y',
       'WindChillC_y', 'winddirDegree_y', 'humidity_y', 'time_x_y', 'date_y',
       'time_y_y'],
      dtype='object')

In [13]:
X = s3.loc[:,s3.columns!='target']
X =X.fillna(0)

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [15]:
#Normalising the data 
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
train_img = scaler.transform(X_train)
test_img = scaler.transform(X_test)

In [16]:
#Applying PCA 
from sklearn.decomposition import PCA
pca = PCA(0.85)
pca.fit(train_img)
pca.n_components_

17

In [17]:
pca.explained_variance_ratio_

array([0.23138006, 0.11590876, 0.10369309, 0.07203329, 0.04936999,
       0.04738358, 0.03490941, 0.03334191, 0.0283123 , 0.02488393,
       0.02335127, 0.01918227, 0.01805081, 0.01556523, 0.01309177,
       0.01237168, 0.01205922])

In [18]:
import matplotlib.pyplot as plt
plt.plot(pca.explained_variance_ratio_)
plt.ylabel('some numbers')
plt.show()

In [19]:
train_img = pca.transform(train_img)
test_img = pca.transform(test_img)

In [56]:
logisticRegr = LogisticRegression(solver = 'lbfgs')

In [57]:
logisticRegr.fit(train_img, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [58]:
logisticRegr.score(test_img, y_test)

0.8209717493328426

In [20]:
from sklearn.svm import SVC

In [21]:
sv = SVC(kernel='linear')

In [ ]:
sv.fit(train_img,y_train)

In [105]:
(ss['arr'][0]-ss['crsarr'])

0         00:16:00
1         00:16:00
2         00:16:00
3         00:16:00
4         00:16:00
            ...
2434200   07:01:00
2434201   07:01:00
2434202   07:01:00
2434203   07:01:00
2434204   07:01:00
Name: crsarr, Length: 2434205, dtype: timedelta64[ns]

In [109]:
ss['arr'][0]-ss['crsarr'][0]

Timedelta('0 days 00:16:00')

In [108]:
ss['crsarr'][0]

Timestamp('2019-11-23 14:55:00')

In [117]:
    
ss.loc[ss['arr'] > ss['crsarr'], 'target'] = ss['arr'] - ss['crsarr']
ss.loc[ss['arr'] <= ss['crsarr'], 'target'] = 0

In [119]:
ss['target']

0           960000000000
1           960000000000
2           960000000000
3           960000000000
4           960000000000
               ...
2434200    3120000000000
2434201    3120000000000
2434202    3120000000000
2434203    3120000000000
2434204    3120000000000
Name: target, Length: 2434205, dtype: int64

In [120]:
ss['target']=ss['target'].astype('int64')

In [121]:
ss['target']

0           960000000000
1           960000000000
2           960000000000
3           960000000000
4           960000000000
               ...
2434200    3120000000000
2434201    3120000000000
2434202    3120000000000
2434203    3120000000000
2434204    3120000000000
Name: target, Length: 2434205, dtype: int64

In [128]:
ss['arr'] = ss['arr'].fillna(0)
ss['crsarr'] = ss['crsarr'].fillna(0)
ss.loc[ss['arr'] > ss['crsarr'], 'delay'] = ss['arr']-ss['crsarr']
ss.loc[ss['arr'] <= ss['crsarr'], 'delay'] = 0
ss['delay']=ss['delay'].astype('timedelta64[m]')
l=[]
for minutes in ss['delay']:
    minutes = minutes.total_seconds() / 60   
    l.append(minutes) 
ss.drop(labels=['delay'],inplace=True,axis=1)
ss=ss.assign(delay=l)

AttributeError: Can only use .dt accessor with datetimelike values

In [ ]:
s['delay']